alembic
psycopg2-binary
asyncpg
sqlalchemy
python-dotenv
pydantic
pydantic-settings

geoalchemy2
shapely
geopy
polyline

python-jose[cryptography]
email-validator
pydantic[email]
aiosmtplib
httpx
stripe
bcrypt==4.0.1
passlib[bcrypt]==1.7.4

faker
